<h1>Add page</h1>
<h2>Add a team member</h2>
<div>Set email, location and role.</div>
<hr />

<form>
    <h2>Info</h2>
    <div>
        <label for="first_name">First Name</label>
        <Input data-test-first-name-input id="first_name" @type="text" @value={{this.member.first_name}} />
    </div>

    <div>
        <label for="last_name">Last Name</label>
        <Input data-test-last-name-input id="last_name" @type="text" @value={{this.member.last_name}} />
    </div>

    <div>
        <label for="email">Email</label>
        <Input data-test-email-input id="email" @type="text" @value={{this.member.email}} />
    </div>

    <div>
        <label for="phone_number">Phone Number</label>
        <Input data-test-phone-number-input id="phone_number" @type="text" @value={{this.member.phone_number}} />
    </div>

    <h2>Role</h2>
    <fieldset>
        <div>
            <input data-test-user-radio type="radio" id="user" name="role" checked={{this.not this.isAdmin}}
                {{on "input" (fn this.setRole "user" )}} />
            <label for="user">Regular - Can't delete members</label>
        </div>

        <div>
            <input data-test-admin-radio type="radio" id="admin" name="role" checked={{this.isAdmin}} {{on "input" (fn
                this.setRole "admin" )}} />
            <label for="admin">Admin - Can delete members</label>
        </div>
    </fieldset>

    {{#if this.isEditMode}}
    <button data-test-delete-button type="button" {{on "click" this.deleteMember}}>Delete</button>
    {{/if}}

    <button data-test-submit-button type="button" disabled={{this.fieldsMissing}} {{on "click"
        this.submitForm}}>Save</button>

</form>