<div>
    <LinkTo @route="add">Add new team member</LinkTo>
    <h2>Team members</h2>
    <span>You have {{@members.length}} team members.</span>
    <hr />
    {{#each @members as |member|}}
    <li>
        {{member.first_name}} {{member.last_name}}
        {{#if (this.isAdmin member)}}
        ({{member.role}})
        {{/if}}
    </li>
    <li>{{member.phone_number}}</li>
    <li>{{member.email}}</li>
    <hr />
    {{/each}}
</div>